div.board {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}