:root {
  font-size: 16px;
  --border-radius: 8px; 
  --header-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --spacing-xs: 10px;
  --spacing-s: 15px;
  --spacing-m: 20px;
  --spacing-l: 30px;
  --spacing-xl: 40px;
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: "Jersey 10", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100dvh;
  position: relative;
}

/* min body height */
body {
  min-height: 100%;
  margin-bottom: var(--spacing-l) ;
  background-color: #FDFFFC;
}

header {
  background-color: #011627;
  width: 100%;
  text-align: center;
  box-shadow: var(--header-shadow);
}

header h1 {
  font-size: 7rem;
  color: #FDFFFC;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
}

button#start-game {
  color: black;
  position: fixed;
  top: 40%;
  font-size: 7rem;
  border: none; 
  background-color: rgba(1, 22, 39, 0.1);
  background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  padding: 7px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

#turn-container {
  /* gap: 5px; */
  margin-top: var(--spacing-s);
  font-size: 2.75rem;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.075rem;
  font-weight: 450;
  background-color: rgba(1, 22, 39, 0.2);
  padding: 2px;
}

footer .icon {
  height: 22px;
}

div#board-styles {
  display: grid;
  width: 700px;
  height: 550px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #0D3B66;
  padding: 8px 15px;
  border-top: none;
  border-radius: var(--border-radius);
  column-gap: 15px;
  row-gap: 8px;
  box-shadow: var(--shadow);
}

.cell {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  /* border: 1px solid rgb(0, 0, 0); */
  border: none;
  border-radius: 50%;
  background-color: #FDFFFC;
  cursor: pointer;
}

.cell-p1 {
  background-color: #D92027;
}

.turn-p1 {
  color: #D92027;
}

.turn-p2 {
  color: #FFCD3C;
}

.cell-p2 {
  background-color: #FFCD3C;
}

.winner-cell {
  background-image: linear-gradient(rgb(0 0 0/35%) 0 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

#newgame-modal {
  margin: auto;
  border: none;
  border-radius: var(--border-radius);
  padding: 22px 30px;
  background-color: #F4F4F8;
}

#newgame-modal::backdrop {
  background : rgb(0 0 0 / 0.3);
}

#newgame-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#newgame-form label {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  grid-column: 1 / 3;
}

.btn {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  background-color: #011627;
  color: #FDFFFC;
  padding: 10px 18px;
  border-radius: var(--border-radius);
  font-size: 0.95rem;
  font-weight: 800;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(90%);
}

#open-reset-modal-btn {
  margin-bottom: var(--spacing-s);
  font-size: 1.4rem;
  box-shadow: var(--shadow);
}

.pulse {
  background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@media (max-height: 860px) {
  :root {
      font-size: 11px;   
  }
  div#board-styles {
    width: 525px;
    height: 375px;
  }
}

@media (max-width: 768px) {
  :root {
      font-size: 11px;   
  }
  div#board-styles {
    width: 525px;
    height: 375px;
  }
}

@media (max-width: 570px) {
  :root {
      font-size: 10px;   
  }
  div#board-styles {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 380px) {
  :root {
      font-size: 9px;   
  }

  div#board-styles {
    width: 300px;
    height: 200px;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}